
* {transition: all 0.2s}

body {margin:0px;font-family:Arial;background:#eee}
body.dark {background:#111}


div.center {overflow:auto;background:#fff;padding:25px;box-sizing:border-box;min-width:600px;max-width:1080px;margin:auto}
div.center.dark {background:#444;color:#fff}

nav.ribbon {height:72px;width:100%;background:#fff;border-bottom:1px solid #ccc}
nav.ribbon.dark {background:#333;border-bottom:1px solid #000}
nav.ribbon li {background:#fff;display:inline;float:left;
	text-decoration:none;padding:12px;margin:12px;border:1px solid #444;
	border-radius:3px;transition:all 0.1s}
nav.ribbon li:hover {background:#000;}
nav.ribbon a {color:#000}
nav.ribbon a:hover {color:#fff}
.right {float:right;}
.hr {width:100%;border-top:1px solid #aaa;margin:50px auto;min-width:400px;}

.ribbonSwitch {float:right;padding:16px;}
.ribbonSwitch.dark {color:#fff}
.ribbonSwitch p {float:left;line-height:3px;margin-right:5px;}

.switch {position: relative;display: inline-block;width: 60px;height: 34px;}
.switch input {opacity: 0;width: 0;height: 0;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height: 26px;width: 26px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}
/* Rounded sliders */
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}

.linkList li {margin-top:5px;}
xmp.basicCode {background:#444;font-weight:bold;color:#fff;padding:5px 10px;white-space:pre-wrap;border-radius:4px;border:1px solid #2d2d2d;box-sizing:border-box}

sup a {text-decoration:none;font-size:10px;padding:0px 2px}

.tooltip {display:block;position:absolute;width:240px;padding:5px 10px;background:#fff;border:1px solid #888;border-radius:2px;font-size:12px;}
.tooltip span {z-index:500}
.tooltipTail {transform:rotate(-45deg);display:block;position:absolute;width:10px;height:10px;background:#fff;border-left:1px solid #888;border-bottom:1px solid #888;z-index:10;}

pre.code:before {counter-reset:listing;}
pre.code code {counter-increment:listing;white-space:pre-wrap;}
pre.code {background:#333;padding:5px 15px;color:#fff;font-weight:bold}
pre.code code::before {content:counter(listing)".  ";display:inline-block;}
.output {background:#fff!important;border:1px solid #000;color:#000!important}

xmp.code {background:#333;padding:5px 15px;color:#fff;font-weight:bold;white-space:pre-wrap;}

ul.wikipedia-overview-list li {padding-bottom:15px;}


.footer {color:#666;font-size:12px;text-align:center;margin:50px 0px 5px 0px}
.footer.dark {color:#111}
